{% extends 'Tarea1App/index.html' %}

{% load static %}

{% block content %}


   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Tarea1App/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 bg-faded p-5 rounded">
          <p class="mb-3">
          <h1> Lista de usuarios </h1><br>
            {% if usuarios %}
              <ul>
                {% for u in usuarios %}
                    <li> <a href="{% url 'Usuario' u.id %}">{{ u.name }} {{ u.lastName }} </a></li>
                {% endfor %}
              </ul>

              <p> Página {{ pagina }} de {{ maximo_pags }} </p>
            
              {% if pagina != 1%}
                {% with anterior=pagina|add:"-1" %}
                <!-- Tenemos que ver si la busqueda es normal o por texto -->
                  {% if tipo_busqueda == 'normal' %}
                    <button> <a href="{% url 'Usuarios' anterior %}"> Anterior </a></button>
                  {% else %}
                    <button> <a href="{% url 'Buscar_usuario' anterior %}"> Anterior </a></button>
                  {% endif %}
                {% endwith %}
              {% endif %}
            
              {% if pagina != maximo_pags %}
                {% with siguiente=pagina|add:"1" %}
                <!-- Tenemos que ver si la busqueda es normal o por texto -->
                  {% if tipo_busqueda == 'normal'%}
                    <button> <a href="{% url 'Usuarios' siguiente %}"> Siguiente </a></button>
                  {% else %}
                    <button> <a href="{% url 'Buscar_usuario' siguiente %}"> Siguiente </a></button>
                  {% endif %}
                {% endwith %}
              {% endif %}

            {% else %}
              <p> No hay usuarios que mostrar relacionado con la búsqueda <h3> '{{ busqueda }}' </h3></p>

            {% endif %}
          </p>

          

        </div>
      </div>
    </div>
  </section>

{% endblock %}
